<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.detection.mapper.DetectionresultMapper">
    
    <resultMap type="Detectionresult" id="DetectionresultResult">
        <result property="no"    column="no"    />
        <result property="id"    column="id"    />
        <result property="sid"    column="sid"    />
        <result property="result"    column="result"    />
        <result property="time"    column="time"    />
    </resultMap>

    <sql id="selectDetectionresultVo">
        select no, id, sid, result, time from detectionresult
    </sql>

    <select id="selectDetectionresultList" parameterType="Detectionresult" resultMap="DetectionresultResult">
        <include refid="selectDetectionresultVo"/>
        <where>  
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="sid != null  and sid != ''"> and sid = #{sid}</if>
            <if test="result != null  and result != ''"> and result = #{result}</if>
            <if test="time != null "> and time = #{time}</if>
        </where>
    </select>
    
    <select id="selectDetectionresultByNo" parameterType="Long" resultMap="DetectionresultResult">
        <include refid="selectDetectionresultVo"/>
        where no = #{no}
    </select>
        
    <insert id="insertDetectionresult" parameterType="Detectionresult" useGeneratedKeys="true" keyProperty="no">
        insert into detectionresult
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="sid != null">sid,</if>
            <if test="result != null and result != ''">result,</if>
            <if test="time != null">time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="sid != null">#{sid},</if>
            <if test="result != null and result != ''">#{result},</if>
            <if test="time != null">#{time},</if>
         </trim>
    </insert>

    <update id="updateDetectionresult" parameterType="Detectionresult">
        update detectionresult
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null and id != ''">id = #{id},</if>
            <if test="sid != null">sid = #{sid},</if>
            <if test="result != null and result != ''">result = #{result},</if>
            <if test="time != null">time = #{time},</if>
        </trim>
        where no = #{no}
    </update>

    <delete id="deleteDetectionresultByNo" parameterType="Long">
        delete from detectionresult where no = #{no}
    </delete>

    <delete id="deleteDetectionresultByNos" parameterType="String">
        delete from detectionresult where no in 
        <foreach item="no" collection="array" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

</mapper>