<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('场所码信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>场所编号：</label>
                                <input type="text" name="pid"/>
                            </li>
                            <li>
                                <label>场所名称：</label>
                                <input type="text" name="placeName"/>
                            </li>
                            <li>
                                <label>风险等级：</label>
                                <input type="text" name="riskGrade"/>
                            </li>
<!--                            <li>-->
<!--                                <label>场所码URL：</label>-->
<!--                                <input type="text" name="placeCodeURL"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>扫码人数：</label>-->
<!--                                <input type="text" name="personNumber"/>-->
<!--                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="place:placecode:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="place:placecode:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="place:placecode:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="place:placecode:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-warning" onclick="$.modal.openTab('场所风险等级统计', '/place/placecode/eCharts');" shiro:hasPermission="place:placecode:eCharts">
                    <i class="fa fa-plus"></i> 统计
                </a>
                <a class="btn btn-warning" onclick="$.modal.openTab('场所码生成', '/place/placecode/qrCode');" shiro:hasPermission="place:placecode:produceCode">
                    <i class="fa fa-edit"></i> 场所码生成
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('place:placecode:edit')}]];
        var removeFlag = [[${@permission.hasPermi('place:placecode:remove')}]];
        // var produceFlag = [[${@permission.hasPermi('place:placecode:produce')}]];
        var riskGradeDatas = [[${@dict.getType('place_risk_grade')}]];
        var prefix = ctx + "place/placecode";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "场所码信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'no',
                    title: '',
                    visible: false
                },
                {
                    field: 'pid',
                    title: '场所编号'
                },
                {
                    field: 'placeName',
                    title: '场所名称'
                },
                {
                    field: 'riskGrade',
                    title: '风险等级',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(riskGradeDatas, value);
                    }
                },
                // {
                //     field: 'placeCodeURL',
                //     title: '场所码URL'
                // },
                // {
                //     field: 'personNumber',
                //     title: '扫码人数'
                // },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.no + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.no + '\')"><i class="fa fa-remove"></i>删除</a>');
                        // actions.push('<a class="btn btn-primary single disabled btn-xs ' + produceFlag + '" href="javascript:void(0)" onclick="$.operate.produce(\'' + row.no + '\')"><i class="fa fa-produce"></i>生成场所码</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>